rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	// match /collection/{documentId}/collection/{documentId} {
    //    allow read: if true;
    //    allow write: if true;
    //    allow create: if true;
    // }

    match /users/{userId} {
       allow read: if userId == request.auth.uid;
       allow write: if false;
    }

    match /users/{userId}/applications/{applicationId} {
       allow read: if userId == request.auth.uid;
       allow write: if userId == request.auth.uid;
    }

  }
}
